@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap");

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: 400;
  font-size: 15px;
}

img {
  opacity: 30%;
  border-radius: 0 10px 10px 0;
  background-image: cover;
}
.overlay {
  border-radius: 0 10px 10px 0;
  background-color: hsl(277, 64%, 61%);
}
